@tailwind base;

@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

@layer base {
  html {
    font-family: "Roboto", sans-serif;
  }
}
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* USERSTREAK STYLES */

.userstreaks-div {
  @apply bg-white rounded-lg p-1 min-w-fit;
}

.userstreaks-span {
  @apply flex justify-center items-center;
}

.userstreaks-img {
  @apply w-10 mr-3 lg:w-10;
}

.userstreak-text-div {
  @apply text-black  w-24 lg:w-28;
}

/* SIDEBAR STYLES */

.sidebar-span {
  @apply flex items-center flex-row px-1 py-2 hover:bg-stone-700 hover:bg-opacity-80 rounded-xl;
}

.sidebar-button-text {
  @apply text-xl font-semibold w-36 ml-3;
}

.large-sidebar-div {
  @apply lg:px-6 lg:pr-8 lg:border-r-2 lg:flex-col lg:min-h-screen lg:min-w-0 lg:gap-12 lg:justify-normal;
}
